<style>
h1 {
font-family: "rawline";
color: rgb(7,29,65);
font-size: 25px;
position: relative;
padding: 15px;
text-align: justify;
font-style: bold
}
 
p {
font-family: "rawline";
font-size: 18px;
position: relative;
padding: 15px;
text-align: justify;
font-style: normal
}
</style>


<h1><% @user %></h1>

<p> Bem vindo à plataforma TradeFlora  🌳! </p>

<p>A partir de agora você pode colaborar na recuperação de áreas cadastradas ou disponibilizar áreas sob sua posse para buscar parcerias.</p>

<p>Para maiores informações visite <a href="https://tradeflora.herokuapp.com"/>nossa página</a></p>
