.content-areas {
  display: flex;
  padding: 0px 60px 0px 60px;
}

.cards-areas {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 23px;
  padding: 18px;
}

.card-areas {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  position: relative;
}

.card-areas > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

#h2-areas {
  margin: 10px 0px 0px 15px;
  padding: 0px 0px 0px 0px;
}

.card-areas h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  // position: relative;
}

.card-areas p {
  font-size: 14px;
  opacity: .9;
  margin: 0;
}

.card-areas ul {
  margin: 5px;
  padding: 0 2rem;
}

.card-areas-infos {
  padding: 7px 16px 16px 16px;
  // display: flex;
  // justify-content: space-between;
  align-items: flex-start;
}

.card-areas a {
  position: absolute;
  bottom: 10px;
}

#searchbox {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 30%;
}

.alignright {
  text-align: right;
}

#paddingleft16 {
  padding-left: 16px
}

.code-owner {
  display: flex;
  justify-content: space-between;
}


/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 800px) {
  .cards-areas {
    grid-template-columns: 1fr;
  }
  .card-areas .br-button {
    width: 90% !important;
  }
  // .search-box {
  //   width: 265px;
  // }
}

/*Small devices ()*/
@media (min-width: 801px) {
  .cards-areas {
    grid-template-columns: 1fr 1fr;
  }
  // .search-box {
  //   width: 300px;
  // }
}

/*Medium devices ()*/
@media (min-width: 1200px) {
  .cards-areas {
    grid-template-columns: 1fr 1fr 1fr;
  }
  // .search-box {
  //   width: 450px;
  // }
}
