.content-areas {
  display: flex;
}

.cards-areas {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.card-areas {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.card-areas > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

#h2-areas {
  margin: 10px 0px 0px 15px;
  padding: 0px 0px 0px 0px;
}

.card-areas h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  // position: relative;
}

.card-areas p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-areas ul {
  margin: 5px;
  padding: 0 2rem;
}

// .card-areas a {
//   position: absolute;
//   bottom: 5px;
// }

.card-areas-infos {
  padding: 16px;
  // display: flex;
  // justify-content: space-between;
  align-items: flex-start;
  // position: relative;
}


.search-box {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 400px;
}

.alignright {
  text-align: right;
}

#paddingleft16 {
  padding-left: 16px
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards-areas {
    grid-template-columns: 1fr;
  }
  .search-box {
    display: none;
  }
}

/*Small devices ()*/
@media (min-width: 576px) {
  .cards-areas {
    grid-template-columns: 1fr 1fr;
  }
  // #searchbox {
  //   display: none;
  // }
}

/*Medium devices ()*/
@media (min-width: 1200px) {
  .cards-areas {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .search-box {
    display: block;
  }
}
