<!-- Retirado de https://dsgov.estaleiro.serpro.gov.br/ds/components/footer -->

<div class="br-footer">
  <div class="container-lg">
    <div class="logo text-center py-2">
      <img src="https://www.gov.br/++theme++padrao_govbr/img/govbr-colorido-b.png" alt="Imagem">
    </div>
    <div class="d-none d-sm-block">
      <div class="row align-items-end justify-content-between py-2">
        <div class="col social-network">
          <p class="text-up-01 text-extra-bold text-uppercase">Redes Sociais</p>
          <a href="https://www.flickr.com/photos/ibamagov" target="_blank"><i class="fab fa-flickr fa-2x"></i></a>
          <a href="https://www.instagram.com/ibamagov/?hl=pt-br" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
          <a href="https://www.youtube.com/channel/UCJEJjqCqqDzdW9vaZE_Ct-g" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>

        </div>
        <div class="col assigns text-right">
          <a href="https://www.gov.br/acessoainformacao/pt-br" target="_blank"><img class="ml-4" src="https://dsgov.estaleiro.serpro.gov.br/assets/img/logo-acesso-info.png" alt="Imagem"></a>
          <a href="http://www.brasil.gov.br/" target="_blank"><img class="ml-4" src="https://dsgov.estaleiro.serpro.gov.br/assets/img/logo-gov.png" alt="Imagem"></a>
        </div>
      </div>
    </div>
  </div>
</div>

