<div class="bannerhome" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(assets/homeimages/amazoniabanner_medium_compressed.jpg);">
  <div class="container">
    <h1>TradeFlora</h1>
    <p>Programa de Reflorestamento - Unindo Esforços </p>
    <a href="#SaibaMais"><button class="br-button" type="button" primary>Saiba Mais</button></a>
  </div>
</div>

<div class="container">

  <h2 class="text-center font-weight-bold mt-3 mb-3" id="SaibaMais">Como Funciona?</h2>
  <p class="text-center">O programa <strong>TradeFlora</strong> surge como uma estratégia para disseminar a formalização de parcerias entre detentores de áreas que precisam ser recuperadas e interessados em encontrar áreas de plantio pelos mais diversos motivos.</p>


  <div class="row mb-5">
    <div class="col-md-4 text-center height300">
      <div class="br-card">
        <div class="front">
          <div class="header d-flex justify-content-between">
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="h5 text-primary-default mb-0 text-center">Mapeando Áreas</p>
              </div>
            </div>
          </div>
          <div class="content">
            <i class="fas fa-map-marked-alt" style="font-size: 50px;"></i>
            <p class="mt-3">Disponibilize ou encontre uma área para reflorestamento em todo o Brasil</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="br-card">
        <div class="front">
          <div class="header d-flex justify-content-between">
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="h5 text-primary-default mb-0 text-center">Promovendo o Trade</p>
              </div>
            </div>
          </div>
          <div class="content">
            <i class="fas fa-handshake" style="font-size: 50px;"></i>
            <p class="mt-3">Encontrou uma área interessante ou alguém disposto a reflorestar? Entre em contato e feche o negócio!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="br-card">
        <div class="front">
          <div class="header d-flex justify-content-between">
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="h5 text-primary-default mb-0 text-center">Recuperando a Natureza</p>
              </div>
            </div>
          </div>
          <div class="content">
            <i class="fas fa-seedling" style="font-size: 50px;"></i>
            <p class="mt-3">Ao final todos saem ganhando, quem tem a obrigação legal de compensar e quem tem áreas disponíveis para reflorestar</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center font-weight-bold mt-3 mb-3" id="SaibaMais">Quais os Objetivos do Programa?</h2>
  <p class="text-center">O programa <strong>TradeFlora</strong> tem como objetivo inovar e aprimorar a execução da compensação da vegetação nativa desmatada, contribuindo diretamente para o avanço da Agenda 2030 nos seguintes quesitos:</p>

<!--   <div class="col-sm-12 col-md-12 mt-5 mt-md-0 text-justify">
    <div class="br-list">
      <div class="item three-lines divider">
        <div class="support"><i class="fas fa-heartbeat"></i></div>
        <div class="content">
          <div class="subtitle">Conservação da Biodiversidade</div>
          <div class="text">Dar abrigo e proteção à fauna e à flora nativas</div>
        </div>
        <div class="support">1</div>
      </div>
      <div class="item three-lines divider">
        <div class="support"><i class="fas fa-wind"></i></div>
        <div class="content">
          <div class="subtitle">Clima Saudável</div>
          <div class="text">Operacionalização de instrumentos de mitigação das mudanças climáticas, como redução da perda líquida de florestas, pagamentos por serviços ambientais e sequestro de carbono</div>
        </div>
        <div class="support">2</div>
      </div>
      <div class="item three-lines divider">
        <div class="support"><i class="fas fa-tint"></i></div>
        <div class="content">
          <div class="subtitle">Proteção de Mananciais</div>
          <div class="text">Proteção e recuperação das fontes hídricas</div>
        </div>
        <div class="support">3</div>
      </div>
      <div class="item three-lines divider">
        <div class="support"><i class="fas fa-heartbeat"></i></div>
        <div class="content">
          <div class="subtitle">Política Ambiental</div>
          <div class="text">Promoção de maior coerência entre as políticas ambientais e de desenvolvimento econômico</div>
        </div>
        <div class="support">4</div>
      </div>
      <div class="item three-lines divider">
        <div class="support"><i class="fas fa-heartbeat"></i></div>
        <div class="content">
          <div class="subtitle">União dos Setores Público e Privado</div>
          <div class="text">Incentivo a parcerias público-privadas e multissetoriais, em diversas escalas, para viabilizar o crescimento da infraestrutura nacional com menores impactos ambientais</div>
        </div>
        <div class="support">5</div>
      </div>
    </div>
  </div> -->

  <hr>

  <div class="divlist">
  <ol>
    <li><span>1.</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur. Fusce nec leo ut massa viverra venenatis. Nam accumsan libero a elit aliquet quis ullamcorper arcu tincidunt. Praesent purus turpis, consectetur quis congue vel, pulvinar at lorem. Vivamus varius condimentum dolor, quis ultricies ipsum porta quis. </p></li>

    <li><span>2.</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>

    <li><span>3.</span><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur.  </p></li>
  </ol>
</div>



</div>
