<div class="bannerhome" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(assets/homeimages/amazoniabanner_medium_compressed.jpg);">
  <div class="container">
    <h1>TradeFlora</h1>
    <p>Programa de Reflorestamento - Unindo Esforços</p>
    <a href="#SaibaMais"><button class="br-button mt-1" type="button" primary>Saiba Mais</button></a>
    <%= link_to "Áreas Disponíveis", areas_path, class:"br-button primary mt-1" %>
  </div>
</div>

<div class="container">

  <h2 class="text-center font-weight-bold mt-3 mb-3" id="SaibaMais">Como Funciona?</h2>
  <p class="text-center">O programa <strong>TradeFlora</strong> surge como uma estratégia para disseminar a formalização de parcerias entre detentores de áreas que precisam ser recuperadas e interessados em encontrar áreas de plantio pelos mais diversos motivos.</p>


  <div class="row mb-5">
    <div class="col-md-4 text-center height300">
      <div class="br-card">
        <div class="front">
          <div class="header d-flex justify-content-between">
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="h5 text-primary-default mb-0 text-center">Mapeando Áreas</p>
              </div>
            </div>
          </div>
          <div class="content">
            <i class="fas fa-map-marked-alt" style="font-size: 50px;"></i>
            <p class="mt-3">Disponibilize ou encontre uma área para reflorestamento em todo o Brasil</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="br-card">
        <div class="front">
          <div class="header d-flex justify-content-between">
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="h5 text-primary-default mb-0 text-center">Promovendo o Trade</p>
              </div>
            </div>
          </div>
          <div class="content">
            <i class="fas fa-handshake" style="font-size: 50px;"></i>
            <p class="mt-3">Encontrou uma área interessante ou alguém disposto a reflorestar? Entre em contato e feche o negócio!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="br-card">
        <div class="front">
          <div class="header d-flex justify-content-between">
            <div class="d-flex">
              <div class="flex-grow-1">
                <p class="h5 text-primary-default mb-0 text-center">Recuperando a Natureza</p>
              </div>
            </div>
          </div>
          <div class="content">
            <i class="fas fa-seedling" style="font-size: 50px;"></i>
            <p class="mt-3">Ao final todos saem ganhando, quem tem a obrigação legal de compensar e quem tem áreas disponíveis para reflorestar</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center font-weight-bold mt-3 mb-3" id="SaibaMais">Quais os Objetivos do Programa?</h2>
  <p class="text-center">O programa <strong>TradeFlora</strong> tem como objetivo inovar e aprimorar a execução da compensação da vegetação nativa desmatada, contribuindo diretamente para o avanço da Agenda 2030 nos seguintes quesitos:</p>

  <div class="container">
    <div class="col-12 justify-content-center">
      <div class="br-list">
        <div class="item three-lines divider">
          <div class="support"><i class="fas fa-crow"></i></div>
          <div class="content">
            <div class="subtitle"><strong>Conservação da Biodiversidade</strong></div>
            <div class="text">Dar abrigo e proteção à fauna e à flora nativas</div>
          </div>
          <div class="support">1</div>
        </div>
        <div class="item three-lines divider">
          <div class="support"><i class="fas fa-wind"></i></div>
          <div class="content">
            <div class="subtitle"><strong>Clima Saudável</strong></div>
            <div class="text">Operacionalização de instrumentos de mitigação das mudanças climáticas, como redução da perda líquida de florestas, pagamentos por serviços ambientais e sequestro de carbono</div>
          </div>
          <div class="support">2</div>
        </div>
        <div class="item three-lines divider">
          <div class="support"><i class="fas fa-tint"></i></div>
          <div class="content">
            <div class="subtitle"><strong>Proteção de Mananciais</strong></div>
            <div class="text">Proteção e recuperação das fontes hídricas</div>
          </div>
          <div class="support">3</div>
        </div>
        <div class="item three-lines divider">
          <div class="support"><i class="fab fa-pagelines"></i></div>
          <div class="content">
            <div class="subtitle"><strong>Política Ambiental</strong></div>
            <div class="text">Promoção de maior coerência entre as políticas ambientais e de desenvolvimento econômico</div>
          </div>
          <div class="support">4</div>
        </div>
        <div class="item three-lines divider">
          <div class="support"><i class="fas fa-handshake"></i></div>
          <div class="content">
            <div class="subtitle"><strong>União dos Setores Público e Privado</strong></div>
            <div class="text">Incentivo a parcerias público-privadas e multissetoriais, em diversas escalas, para viabilizar o crescimento da infraestrutura nacional com menores impactos ambientais</div>
          </div>
          <div class="support">5</div>
        </div>
      </div>
    </div>
  </div>

</div>
