<div class="bannerhome" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(assets/homeimages/amazoniabanner_medium_compressed.jpg);">
  <div class="container">
    <h1>TradeFlora</h1>
    <p>Programa de Reflorestamento - Unindo Esforços</p>
    <a href="#SaibaMais"><button class="br-button mt-1" type="button" primary>Saiba Mais</button></a>
    <%= link_to "Áreas Disponíveis", areas_path, class:"br-button primary mt-1" %>
  </div>
</div>

<div class="container">

  <h2 class="text-center font-weight-bold mt-3 mb-3" id="SaibaMais">Como Funciona?</h2>
  <p class="text-center">O programa <strong>TradeFlora</strong> surge como uma estratégia para disseminar a formalização de parcerias entre detentores de áreas que precisam ser recuperadas e interessados em encontrar áreas de plantio pelos mais diversos motivos.</p>


  <div>
    <div class="row pt-5 m-auto homecard">

      <!-- next card copy from here! -->
      <div class="col-md-6 col-lg-4 pb-3">
        <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img" style="background-image: url(assets/homeimages/c-brasil-map.jpg);"></div>
          <div class="card-custom-avatar">
            <img class="img-fluid background-white smallicon" src="assets/homeimages/icon-search.png" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Card has minimum height set but will expand if more space is needed for card body content. You can use Bootstrap <a href="https://getbootstrap.com/docs/4.0/components/card/#card-decks" target="_blank">card-decks</a> to align multiple cards nicely in a row.</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: inherit;">
            <a href="#" class="btn btn-primary">Option</a>
            <a href="#" class="btn btn-outline-primary">Other option</a>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
