<% provide(:title, 'Todas as áreas') %>

<div id="map"
      style="width: 100%; height: 600px; z-index:1;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<br>
<p align="center"><%= link_to "Voltar", 'javascript:history.back()', class: "br-button primary", style: "text-decoration: none;"  %>
<br>

