<div class="container">
  <div id="map"
       style="width: 100%; height: 300px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <pre id="info"></pre>
  <div class="calculation-box">
    <p id="calculated-area">Desenhe o polígono da área no mapa.</p>
  </div>
       
<script src="https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js"></script>
</div>

<div class="row justify-content-center">
  <div class="br-card col-lg-4 my-1 pb-2 rounded">

    <p id="notice"><%= notice %></p>
    <div>
      <h1>Disponibilizar nova área</h1>

      <%=render "form", area: @area%>
    </div>
  </div>
</div>

