.calculation-box {
height: 75px;
width: 150px;
position: relative;
bottom: 40px;
left: 10px;
background-color: rgba(255, 255, 255, 0.9);
padding: 15px;
text-align: center;
}



#info {
display: block;
position: relative;
margin: 0px auto;
width: 50%;
padding: 10px;
border: none;
border-radius: 3px;
font-size: 12px;
text-align: center;
color: #222;
background: #fff;
}

.smallicon {
  width: 20px;
  margin-bottom: 6px;
}

.above-map-helper {
  font-size: 15px;
  margin-bottom: 8px !important;
  display: inline-block;
}

.map-helper-container {
  text-align: center;
  margin-top: 10px;
}

.map-overlay {
font: bold 10px/15px 'Helvetica Neue', Arial, Helvetica, sans-serif;
position: absolute;
width: 10%;
top: 0;
left: 0;
padding: 10px;
z-index:1;
}
 
.map-overlay .map-overlay-inner {
background-color: #fff;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
border-radius: 3px;
padding: 10px;
margin-bottom: 10px;
}
 
.map-overlay label {
display: block;
margin: 0 0 10px;
}
 
.map-overlay input {
background-color: transparent;
display: inline-block;
width: 100%;
position: relative;
margin: 0;
cursor: ew-resize;
}