<style>
h1 {
font-family: "rawline";
color: rgb(7,29,65);
font-size: 25px;
position: relative;
padding: 15px;
text-align: justify;
font-style: bold
}
 
p {
font-family: "rawline";
font-size: 18px;
position: relative;
padding: 15px;
text-align: justify;
font-style: normal
}
</style>


<h1>Prezado <%= @trade.user.name %></h1>

<p>Foi registrada uma nova proposta para área de <%= @trade.area.user.name  %> localizada no município de <%= @trade.area.city.name%>.</p>
<p>Para maiores informações visite <a href="https://tradeflora.herokuapp.com"/>nossa página</a> 🌳.</p>