<style>
h1 {
font-family: "rawline";
color: rgb(7,29,65);
font-size: 25px;
position: relative;
padding: 15px;
text-align: justify;
font-style: bold
}
 
p {
font-family: "rawline";
font-size: 18px;
position: relative;
padding: 15px;
text-align: justify;
font-style: normal
}
</style>



<h1>Prezado <%= @trade.user.name %></h1>

<p>A proposta enviada para <%= @trade.area.user.name  %> em rela칞칚o  치rea localizada no munic칤pio de <%= @trade.area.city.name%> foi recusada.</p>
<p>Ainda temos diversas 치reas dispon칤veis e novas propostas podem ser realizadas para 치reas de outros propriet치rios!</p>
<p>Para maiores informa칞칫es visite <a href="https://tradeflora.herokuapp.com"/>nossa p치gina</a> 游꺕.</p>

