<div class= "container mt-5">
  <h2>Adicionar comentário</h2>
  <h6>Proposta aceita por <%= @area.user.name %><br>Interessado: <%= @trade.user.name %> </h6>
</div>
<div class="row justify-content-md-center mt-2">
  <div class="br-card col-lg-4 align-center py-3">
    <%=render "form", report: @report%>
  </div>
</div>
